<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= product.title %></h1>
    <p><%= product.description %></p>
    <p><%= product.price %>€</p>
    <p><%= product.category %></p>
    <img src=<%= product.image %> alt="LOL" width="100">
    <br>
    <button type="button">Add to cart</button><br>
    <a href="/cart">Go to cart</a><br>
    <a href="/">Back</a><br>
  </body>
</html>
